/**:root {
  --color-primary: #003676;
  --color-secundary: #80aed5;
  --color-emphasis: #bfd7ea;
  --color-gold: #fccb29;

  --font-primary: sans-serif;
}**/

* {
  padding: 0;
  margin: 0;
}

#ImgLogo {
  border-radius: 90px;
  width: 65px;
}

.text-azul {
  color: #155795; /* azul marinho */
}

.btn-diario {
    background-color: #e0e0e0;
    border-color: #d6d6d6;
    color: #212529;
}