/**:root {
  --color-primary: #003676;
  --color-secundary: #80aed5;
  --color-emphasis: #bfd7ea;
  --color-gold: #fccb29;

  --font-primary: sans-serif;
}**/

* {
  padding: 0;
  margin: 0;
}

#ImgLogo {
  border-radius: 90px;
  width: 65px;
}