{% extends 'base.html' %} {% load static %}

{% block titulo %}
        <title>Lista de Alunos</title>
{% endblock titulo %}

{% block conteudo %}

<div class="d-flex justify-content-between align-items-center">
    <h3 class="text-azul fw-bold">
        {{ diario.disciplina.nome }}
    </h3>

    <a href="{% url 'listar-diarios' %}" class="btn btn-outline-secondary">
        <i class="fa-solid fa-arrow-left me-1"></i>
        Voltar
    </a>
</div>

<p class="text-muted mb-3">
    Professores:
    {% for prof in diario.professores.all %}
        {{ prof.nome }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>

<hr>

{% if alunos %}
    <div class="list-group">
        <table class="table table-hover mb-0">
                <thead class="table-light">
                    <tr>
                        <th class="w-25">Matrícula</th>
                        <th class="w-75">Nome</th>
                    </tr>
                </thead>

                <tbody>
                    {% for aluno in alunos %}
                        <tr>
                            <td class="fw-semibold">
                                {{ aluno.aluno.matricula }}
                            </td>
                            <td>
                                {{ aluno.aluno.nome }}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2" class="text-center text-muted py-4">
                                Nenhum aluno cadastrado
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% else %}
    <p class="text-muted">Nenhuma aluno cadastrado para este diário.</p>
{% endif %}

{% endblock %}