{% extends 'base.html' %} {% load static %}

{% block conteudo %}

<h3>Lista de Aulas registradas</h3>
<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Data</th>
            <th>Etapa</th>
            <th>Número de Aulas</th>
            <th>Conteúdo</th>
            <th>Opções</th>
        </tr>

        {% for aula in object_list %}
        <tr>
            <td>{{ aula.data }}</td>
            <td>{{ aula.etapa }}</td>
            <td>{{ aula.quantidade }}</td>
            <td>{{ aula.conteudo }}</td>
            <td></td>
        </tr>    
        {% empty %}
        <tr>
            <td colspan="5">Nenhuma aula registrada.</td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock conteudo %}