{% extends 'base.html' %} {% load static %}

{% block titulo %}
        <title>Lista de Diários</title>
{% endblock titulo %}


{% block conteudo %}

<h3>Lista de Diarios registrados</h3>
<hr>

{% for diario in object_list %}

<div class="card shadow-sm mb-4 card-body">
    <!-- Cabeçalho -->
    <div class="d-flex justify-content-between align-items-start flex-wrap gap-2">
        <h5 class="fw-bold mb-0"><a href="#" class="text-decoration-none text-azul">
            {{ diario.disciplina }}
        </a></h5>
        
        <div class="d-flex justify-content-between align-items-start flex-wrap gap-2">
            <a href="{% url 'listar-alunos' diario.id_suap %}" class="btn btn-diario btn-sm d-flex align-items-center gap-2"><i class="fa-solid fa-eye"></i>
                Acessar Alunos
            </a>
            <a href="{% url 'listar-aulas' diario.id_suap %}" class="btn btn-diario btn-sm d-flex align-items-center gap-2"><i class="fa-solid fa-eye"></i>
                Acessar Aulas
            </a>
        </div>
        
    </div>
    <hr class="my-3">

    <!-- Informações -->
    <dl class="row g-3 text-muted small mb-0">
        <!-- Professores -->
        <div class="col-md">
            <dt class="fw-bold d-flex align-items-center">
                <i class="fa-solid fa-users me-2"></i>
                Professores:
            </dt>
            {% for professor in diario.professores.all %}
                <dd class="ms-4 mb-0">{{ professor.nome }}</dd>
            {% empty %}
                Não informado
            {% endfor %}
        </div>

        <!-- Quantidade de alunos -->
        <div class="col-md">
            <dt class="fw-bold d-flex align-items-center">
                <i class="fa-solid fa-user-graduate me-2"></i>
                Qtd. de Alunos:
            </dt>
            <dd class="ms-4 mb-1">{{ diario.alunos.count }}</dd>
        </div>

        <!-- Horário -->
        <div class="col-md">
            <dt class="fw-bold d-flex align-items-center">
                <i class="fa-regular fa-clock me-2"></i>
                Horário:
            </dt>
            <dd class="ms-4 mb-1">{{ diario.horario_resumido }}</dd>
        </div>

        <!-- Local -->
        <div class="col-md">
            <dt class="fw-bold d-flex align-items-center">
                <i class="fa-solid fa-location-dot me-2"></i>
                Local de aula:
            </dt>
            <dd class="ms-4 mb-1">{{ diario.local }}</dd>
        </div>
    </dl>
</div> 

{% empty %}

<h5>Nenhum diario registrado.</h5>

{% endfor %}


{% endblock conteudo %}