{% extends 'base.html' %}
{% load static %}

{% block titulo %}
        <title>QR Code da Aula</title>
{% endblock titulo %}

{% block conteudo %}

<div class="d-flex flex-column justify-content-center align-items-center text-center" style="min-height: 70vh;">
    
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class=" fw-bold mx-4">
            QR Code da Aula
        </h3>
        <a href="{% url 'listar-aulas' diario.id_suap %}" class="btn btn-outline-secondary ">
            <i class="fa-solid fa-arrow-left"></i>
            Voltar para aulas
        </a>
    </div>

    <img
        src="data:image/png;base64,{{ qr_code }}"
        alt="QR Code"
        class="mb-2"
        style="width: 500px; max-width: 90%;"
    />

    <div class="fs-4">
        <span class="text-muted">Tempo restante:</span>
        <span id="timer" class="fw-bold text-danger ms-2"></span>
    </div>

</div>

<script>
    let total = {{ segundos_restantes }};
    const timerEl = document.getElementById("timer");

    const intervalo = setInterval(() => {
        let minutos = Math.floor(total / 60);
        let segundos = total % 60;

        timerEl.textContent = `${minutos}:${segundos.toString().padStart(2, '0')}`;

        if (total <= 0) {
            clearInterval(intervalo);

            // marca a chave como usada
            fetch("{% url 'expirar_chave' chave.codigo %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
            }).then(() => {
                timerEl.textContent = "Expirada";
            });
        }

        total -= 1;

    }, 1000);
</script>


{% endblock %}
