{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- css -->
        
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        
        <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" />

        {% block titulo %}
        <title>Sistema de Chamada Automatica</title>
        {% endblock titulo %}
    
    </head>
    <body>
        <div class="container">
        <!-- Cabeçalho -->
        {% block cabecalho %} {% include 'paginas/components/navbar.html' %} {% endblock cabecalho %}

        <!-- Conteúdo -->
        {% block conteudo %} {% endblock conteudo %}

        <script src='{% static "js/bootstrap.min.js" %}'></script>
        <script src='{% static "js/jquery-3.7.1.min.js" %}'></script>
        <script src='{% static "js/popper.min.js" %}'></script>
        </div>
    </body>
</html>